<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>LD Advocacia | Processos</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    </head>
    <body class="sb-nav-fixed">
        <script src="/js/core.min.js"></script>
        <script src="http://sis.ldadvocaciadf.com.br/js/script.js"></script>

        
        <%- include ('nav.ejs'); %>
        <div id="layoutSidenav">
            <%- include ('menu.ejs'); %>
            <div id="layoutSidenav_content">
                <main>