<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">MENU</div>
        <a class="nav-link" href="/clientes/listar"><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Clientes</a>
        <a class="nav-link" href="/movimentacao/listar"><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Movimentação</a>


        <div class="sb-sidenav-menu-heading">Dados</div>
        <a class="nav-link" href="#"><div class="sb-nav-link-icon"><i class="fas fa-angle-double-right"></i></div>Tribunal</a>
        <a class="nav-link" href="#"><div class="sb-nav-link-icon"><i class="fas fa-angle-double-right"></i></div>Vara</a>
        <a class="nav-link" href="#"><div class="sb-nav-link-icon"><i class="fas fa-angle-double-right"></i></div>Tipo de Processo</a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Advogado/a:</div>
      Fulano
    </div>
  </nav>
</div>
